body {
    font-family: 'Nunito Sans', sans-serif;
}

.navbar-dark {
    --bs-navbar-hover-color: rgb(255, 255, 255);
}


.carousel-caption {
    width: 100%;
    /* height: 224px; */
    left: 0;
    bottom: 0;
}

.actualite-background-image {
    background: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), fixed no-repeat center/cover url(../img/bmw.jpg) ;
    width: 100%;
    height: 100%;
}


.hover-display {
    background-color: rgba(0, 0, 0, 0.493);
    display: none;
    position: absolute;
}

.lien-reseaux:hover {
    transform: scale(1.2);
}

.fil-ariane {
    min-width: 200px;
}
.fil-ariane ol{
    justify-content: center;
}

.fil-ariane::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: -22px;
    width: 200px;
    height: 100%;
    background: #ffffff;
    transform: skewX(-37deg);
    z-index: -1;
    border-bottom: 2px solid rgb(33,37,41);
    border-right: 2px solid rgb(33,37,41);
}

.fil-ariane::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -22px;
    width: 200px;
    height: 100%;
    background: #ffffff;
    transform: skewX(37deg);
    z-index: -1;
    border-bottom: 2px solid rgb(33,37,41);
    border-left: 2px solid rgb(33,37,41);
}

.carousel-voiture {
    height: 235px;
}

.carousel-control-prev-icon {
    background-image: url(../img/angles-left-solid.svg);
}

.carousel-control-next-icon {
      background-image: url(../img/angles-right-solid.svg);
  }

.input-group-append {
cursor: pointer;
}
.scaleActu {
    transition: ease 0.3s;
    
}
.scaleActu:hover {
    transform: scale(1.009) !important;
}


.navbar-toggler:focus {
box-shadow: none;
}

textarea {
height: 130px;
resize: none;
}

.navbar-toggler {
border-radius: 0 !important;
}

.form-check-input:focus {
    box-shadow: none;
}

@media screen and (max-width: 1200px) {
    .searchBar {
        display: none !important;
        
    }

    .carousel-voiture {
        width: 100%;
        height: auto;
    }
    
    blockquote a{
        font-size: 1.4rem !important;
    }
    .p-actu {
        font-size: 1rem !important;
    }
}
@media screen and (max-width: 576px) {
.baseline {
    font-size: 1.2rem !important;
}
.titre-voiture {
    font-size: 1.3rem;
}
.card-75 {
    width: 75%;
    margin: 0 auto;
}
.card-75 h3 {
    font-size: 1.2rem !important;
    text-align: center;
}
.card-75 p {
    display: none;
}
.card-75 a {
    margin: 0 auto;
    display: block;
    width: 75%;
}
}

@media screen and (max-width: 800px) {
.baseline {
    font-size: 1.5rem;
}
.logo {
    width: 100px;
}
}


@media screen and (min-width: 992px) {
    .actu-index:hover .hover-display{
        display: flex !important;
        justify-content: center;
        align-items: center;
    }

}
